
.seccion-genero {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 20px;
  background-color: #ffffff; 
  border-radius: 12px;
}


.seccion-genero h2 {
  font-size: 1.8rem;              
  margin-top: 0;                  
  margin-bottom: 15px;            
  color: #0a004d;                 
  font-size: 80px;
  text-align: center;  
  font-family: comic sans ms, sans-serif;             
}


.seccion-genero h3 {
  font-size: 1.3rem;               
  margin-top: 25px;
  margin-bottom: 15px;
  color: #0a004d;                  
}



.seccion-genero p {
  font-size: 1rem;
  line-height: 1.6;                 
  color: #000000;
  margin-bottom: 12px;
}


.nav-subgeneros ul {       
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;                
  gap: 10px;                      
}


.nav-subgeneros a {
  display: inline-block; 
  background-color: #400153;     
  color: #ffffff;
  text-decoration: none;           
  padding: 8px 16px;
  border-radius: 20px;             
  font-size: 0.9rem;
}


.nav-subgeneros a:hover {
  background-color: #aad9ff;
  color: #0b0726;
  font-weight: bold; 
}

/* ---------------------------------------------------------------------------------------------------- */

/* Configuración General */
.contenido-principal {
  font-family: Arial, Helvetica, sans-serif;
  color: #14003a;                           
  padding: 20px;                              
  background-color: #fcfcfc;               
}

/* --- TARJETAS DE SUBGÉNEROS --- */
.bloque-subgeneros {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.tarjeta-subgenero {
  background-color: #110b38;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border: 1px solid #231668;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.info-subgenero {
  flex: 1;
}

.info-subgenero h3 {
  font-size: 1.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 50px;
}

.info-subgenero p {
  color: #ffffff;
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.tarjeta-subgenero img {
  width: 200px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #3d299a;
}



/* --- SECCIONES DE ARTISTAS Y CANCIONES (CUADROS / GRID) --- */
.seccion-destacados {
  margin-bottom: 50px;
  background-color: #0d072c;
  padding: 30px 20px;
  border-radius: 12px;
  border-top: 2px solid #231668;
}

.titulo-seccion {
  font-size: 1.6rem;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 50px
}

.descripcion-seccion {
  color: #ffffff;
  font-size: 0.95rem;
  margin-bottom: 25px;
}

/* Grid de Tarjetas */
.grid-cuadros {
  display: flex; 
  flex-wrap: wrap; 
  gap: 10px; 
  gap: 20px;
}

/* Estilo de cada cuadro/card */
.tarjeta-cuadro {
  background-color: #170e49;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  border: 1px solid #2d1d7c;
}

.tarjeta-cuadro:hover {
  background-color: #231569;
}

.tarjeta-cuadro a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.tarjeta-cuadro img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

.tarjeta-cuadro h4 {
  font-size: 1rem;
  margin: 5px 0;
  color: #ffffff;
}

.tarjeta-cuadro p {
  font-size: 0.85rem;
  color: #a496ff;
  margin: 0;
}